*.pdf
*.html
.vscode/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc[cod]

# Temp
tmp/*
cfd_python/ch10/*
temp_*/*
*/temp_*/*

# cpp
a.exe

# Shape
shp/shp_*
